{% extends 'layout.html' %}

{% block title %}
   <title>Liste</title>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="text-center mt-3 mb-3">A faire:</h1>
<table class="table table-bordered jumbotron">
   <thead>
     <tr>
       <th scope="col">Titre</th>
       <th scope="col">A faire: </th>
       <th scope="col">Créé le: </th>
       <th scope="col">Etat</th>
       <th scope="col">Actions</th>
     </tr>
   </thead>
   <tbody>
   {% for i in obj %}
     <tr>
       <td>{{i.title}}</td>
       <td>{{i.todo}}</td>
       <td>{{i.created_at}}</td>
       <td>
        {% if i.completed %}
           Réussie
         {% else %}
           En cours
         {% endif %}
       </td>
       <td>
           <button class="btn"><a href="{% url 'update_url' i.id %}">Modifier</a></button>&nbsp;&nbsp;
           <button class="btn"><a href="{% url 'delete_url' i.id %}">Supprimer</a></button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
</div>
{% endblock %}